/*
p {
  font-size: 31px;
}

.new-color {
  color: blue;
}
.first {
  color: orange;
}
div {
  front-size: 22px;
}

.new-size {
  font-size: 44px;
}

#price {
  font-family: cursive;
  font-size: 33px;
}

div.first {
  color: green;
  font-size: 36px;
}
div#price {
  background: red;
}

ul li {
  color: blue;
}
#test li.test {
  color: rgb(111, 27, 27);
}
#test ul > li.test {
  color: brown;
}

[src] {
  width: 100px;
  height: 100px;
}
*/

.input {
  width: 100px;
  heigh: 100px;
}
#years {
  color: blue;
}
.first {
  color: red;
  background: blue;
}
.second {
  color: green;
  background: yellow;
  font-size: 50px;
}
ol {
  color: brown;
}
